<form (submit)= "loginUser($event)">
	<div class="input">
		<label>First Name</label>
		<input type="text">
	</div>
	<div class="input">
		<label>Last Name</label>
		<input type="text">
	</div>
	<div class="input">
		<label>Email</label>
		<input type="text">
	</div>
	<div class="input">
		<label>Password</label>
		<input type="Password">
	</div>
	<div class="input">
		<label>Re-Enter Password</label>
		<input type="Password">
	</div>
	<div class="input">
		<input type="submit" value="Sign Up!">
	</div>
</form>
      <router-outlet></router-outlet>