<p>
  showing listing info for: {{propID}}

  <div *ngIf="isLoaded">
  	Poster Username: {{currentListing.posterUsername}} <br/>

  	Leasing Agency: {{currentListing.leasingAgency}} <br/>

  	Rent: {{currentListing.rentValue}} <br/>

  	Address: {{currentListing.address}} <br/>

  	Posting Message: {{currentListing.postingMessage}} <br/>

  	Number of bathrooms: {{currentListing.bathroomQuantity}} <br/>

  	Personal Bathroom: {{currentListing.personalBathroom}} <br/>

  	Number of Roommates: {{currentListing.roommateQuantity}} <br/>

    Average Rating: {{avgRating}} {{ratingMessage}}<br/>

  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="newMessageForm">
    <div class="form-group">
      <input type="text" class="form-control" formControlName="textMessage" required placeholder="Enter Message Here">
    </div>
    <div><input type="submit" id="submit" value="Submit"></div>
  </form>

  <label>Rate this property:</label>
  <div id="rating">
    <input type="radio" id="one" name="rating"> 1
    <input type="radio" id="two" name="rating"> 2
    <input type="radio" id="three" name="rating"> 3
    <input type="radio" id="four" name="rating"> 4
    <input type="radio" id="five" name="rating"> 5     
  </div>
  
  <div>
          <span id="ratingError"></span>
  </div>
  
  <div>
    <button id="submitRating" type="button" (click)="getRating()">Submit Rating</button>
  </div>

  <table>
    <tr>
    <th>Poster Username</th>
    <th>Comment</th>
    <th>Time</th>
    
    <tr *ngFor="let data of commentArray">
      <td> {{data.commentPosterUsername}}</td>
      <td> {{data.message}}</td>
      <td> {{data.timePosted}}</td>
    </tr>
  </table>

  <div class="commentBox">
    <label>Write a comment regarding this property: </label>
    <div>
      
      <textarea required class="txt-area" id="comment" type="text" placeholder="Comment..." rows="5" cols="80"></textarea>
    </div>
    <div>
      <button type="button" (click)="comment()">Comment</button>
    </div>
  </div>
