<p>
  showing listing info for: {{propID}}

  <div *ngIf="isLoaded">
  	Poster Username: {{currentListing.posterUsername}} <br/>

  	Leasing Agency: {{currentListing.leasingAgency}} <br/>

  	Rent: {{currentListing.rentValue}} <br/>

  	Address: {{currentListing.address}} <br/>

  	Posting Message: {{currentListing.postingMessage}} <br/>

  	Number of bathrooms: {{currentListing.bathroomQuantity}} <br/>

  	Personal Bathroom: {{currentListing.personalBathroom}} <br/>

  	Number of Roommates: {{currentListing.roommateQuantity}} <br/>


  </div>

  <table>
    <tr>
    <th>Poster Username</th>
    <th>Comment</th>
    <th>Time</th>
    
    <tr *ngFor let data of commentArray>
      <td> {{data.commentPosterUsername}}</td>
      <td> {{data.message}}</td>
      <td> {{data.timePosted}}</td>
    </tr>
  </table>

  <div class="commentBox">
    <label>Write a comment regarding this property: </label>
    <div>
      
      <textarea required class="txt-area" id="comment" type="text" placeholder="Comment..." rows="5" cols="80"></textarea>
    </div>
    <div>
      <button type="button" (click)="comment()">Comment</button>
    </div>
  </div>
