<!DOCTYPE html>
<html>
   <body>
      <div class="app">
         <link rel="icon" type="image/x-icon" href="favicon.ico">
         <h1>
         	SubleaseISU
         	<a routerLink="/home" routerLinkActive="active" id="HomeButton">Home</a>
         </h1>
         <h2>
            <nav>
               <a routerLink="/createproperty" routerLinkActive="active">Create Property</a>
               <a routerLink="/login" routerLinkActive="active">Log In</a>
               <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
               <a routerLink="/googlemaps" routerLinkActive="active">Map</a>
               <a routerLink="/main" routerLinkActive="active">Main Page</a>
               <a routerLink="/browse" routerLinkActive="active">Browse</a>
               <a routerLink="/messaging" routerLinkActice="active">Messaging</a>
               <a routerLink="/adminApproval" routerLinkActive="active">Admin Approval</a>
               
            </nav>
         </h2>
         <router-outlet></router-outlet>
      </div>
   </body>
</html>
