	<div *ngIf="isLoaded">
		Showing page for {{username}} <br>
		Messages:
		<div *ngFor="let data of messageHistory">
			<div *ngIf="data.senderUsername == currentUser; else received_message">
				<p align="right">
					{{data.timeSent}} <br>
					{{data.message}} <br>
				</p>
			</div>
			<ng-template #received_message>
				<div>
					<p>
						{{data.timeSent}} <br>
						{{data.message}} <br>
					</p>
				</div>
			</ng-template>

	</div>
	<form (ngSubmit)="onSubmit()" [formGroup]="newMessageForm">
		<div class="form-group">
			<input type="text" class="form-control" formControlName="textMessage" required placeholder="Enter Message Here">
		</div>
		<div><input type="submit" id="submit" value="Submit"></div>
	</form>
<router-outlet></router-outlet>