<div class="general">
	<h1>{{title}}</h1>
	
	<div>

		<input type="file" id="previewImage" (change)="imagePreview(this);" name="newProfilePicture" ng2FileSelect [uploader] ="uploader" />
		
		<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
	      Upload Your File
		</button>

		<button type="button" onclick="clearUpload()">Clear</button>
	</div>

	
	
	<div class="container">
		<label id="previewLabel" >Profile Picture Preview:</label>
		<img src="" id="preview" />
		<img src="" id="preview2"/>
	</div>
</div>
