.container{
	width: 200px;
	height: 120px;
	margin-top: 20px;
}
.container img{
   	height: auto; 
   	width: 100%;
}
.container label{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.container2{
  width: 250px;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.container2 label{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.container2 img{
    height: auto; 
    width: 100%;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.info{
  background-image: url("border.png");
  width: 50%;
  height: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.general {
    background-image: url("cy.gif");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
}